# Ignore node_modules as we'll install them inside the container
node_modules
npm-debug.log

# Ignore local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore test-related configuration files
coverage
cypress/screenshots
cypress/videos

# Ignore build files
build
.cache
dist

# Ignore editor configuration files
.vscode
.idea

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db


# Ignore readme gifs
readme_assets